<% message_class = object.errors.empty? ? 'success' : 'danger' %>
<% unless flash[:notice].nil? %>
<div class="row">
	  <div class="alert alert-<%= message_class %> span6">
			<div><%= raw flash[:notice] %></div>
			<% if object.errors.any? %>
			    <ul>
			    <% object.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			<% end %>
		</div>
	</div>
<% end %>