<% if last_challenge && last_challenge.has_predictions? %>
  <h5 class="padding-5 text-center">
  	<%= last_challenge.winner_text  %>
  	<br /><%= link_to 'Click Here', points_table_path %> to see more...
  </h5>
  <% if Date.today.monday? && false %>
  <h5 class="padding-5 text-center">
  	<%= last_challenge.weekly_winner_text  %>
  	<br /><%= link_to 'Click Here', weekly_points_table_path %> to see more...
  </h5>
  <% end %>
<% end %>
