
<html>
<!-- <body background = 'http://wallpaperwonder.com/wp-content/uploads/2014/04/World-Cup-FIFA-2014-Wallpaper-HD.jpg';>  -->
<%# @daily_challenges.each do |daily_challenge| %>
	<%# daily_challenge.matches.each do |match| %>
	 <!-- <p>Match : <%#= match.match %></p>
	 <%# teams = match.match.split('Vs') %>
	 <p><%#= teams[0].strip %> : Score </p>
	 <p><%#= teams[1].strip %> : Score </p>
	 <p>Result :  </p>
 -->	<%# end %>
<%# end %>


<%= render "match_predictions" %>
<!-- </body> -->
</html>