/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require jquery.countdown
 */



.ind-body {
	background-color: #fff;
	opacity: 0.8;
	float: left;
	border: 1px solid;
	border-radius: 25px;
}
.pf {
	float: left;
	width: 320px;
	height: 320px;
	background-color: #fff;
	opacity: 0.9;
	margin-left: 20px;
	margin-top: 20px;
	border: 1px solid;
	border-radius: 25px;
	padding: 10px;
	/*display: none;*/
}
.discussions {
	background-color: #fff;
	margin-top: 10px;
	opacity: 1;
	float: left;
	border: 1px solid;
	border-radius: 25px;
}
.data-table {
	padding: 25px;
}

.red {
	color: #d14;
}