.fifa-wc{
	background-image: url('/assets/World-Cup-FIFA-2014-Wallpaper-HD.jpg');
}

.margin-top-40{
	margin-top: 40px !important;
}

.match-div {
	margin-left: 20px;
	padding: 10px;
}

.margin-left-20 {
	margin-left: 20px;
}

.padding-5 {
	padding : 5px;
}

.padding-left-15 {
	padding-left: 15px !important;
}

.match-result {
	/*float: left;*/
	padding : 10px;
}

.text-center {
	text-align: center;
}

.show-match {
	margin-top: 150px;
}

table.show-game tr, th, td{
	padding : 5px;
}

.daily_pred {
	width: auto;
	padding: 10px;
	/*float: left;*/
}

.class-bold {
	font-weight: bold;
}

.color-blue {
	color: #0000FF;
}

.float-left {
	float: left;
}

.inline {
	display: inline-block !important;
}

.input-xsmall {
	width: 50px;
}
