.fifa-wc{
	background-image: url('/assets/World-Cup-FIFA-2014-Wallpaper-HD.jpg');
}

.margin-top-40{
	margin-top: 40px !important;
}

.match-div {
	/*margin-top: 10px;*/
	margin-left: 20px;
	padding: 10px;
}

.match-result {
	/*float: left;*/
	padding : 10px;
}

.text-center {
	text-align: center;
}

.show-match {
	margin-top: 190px;
}

table.show-game tr, th, td{
	padding : 5px;
}

.daily_pred {
	width: 600px;
	padding: 5px;
}
