.fifa-wc {
	background-image: url('/assets/World-Cup-FIFA-2014-Wallpaper-HD.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.final {
	background-image: url("/assets/wc2014final.jpg") !important;
	background-repeat: no-repeat;
}

.margin-top-40{
	margin-top: 40px !important;
}

.match-div {
	margin-left: 20px;
	padding: 10px;
}

.margin-left-20 {
	margin-left: 20px;
}

.padding-5 {
	padding : 5px;
}

.padding-left-15 {
	padding-left: 15px !important;
}

.match-result {
	/*float: left;*/
	padding : 10px;
}

.text-center {
	text-align: center;
}

.show-match {
	margin-top: 150px;
}

table.show-game tr, th, td{
	padding : 5px;
}

.daily_pred {
	width: auto;
	padding: 10px;
	float: left;
}

.class-bold {
	font-weight: bold;
}

.color-blue {
	color: #0000FF;
}

.float-left {
	float: left;
}

.inline {
	display: inline-block !important;
}

.input-xsmall {
	width: 50px;
}

.countdown-timer {
	
}
 
.imageLayout span {
	display: block;
	float: left;
	width: 10px;
	height: 21px;
	background: url('/assets/countdownLED.png') no-repeat 0px 0px;
}
.imageLayout span.image0 {
	background-position: -0px 0px;
}
.imageLayout span.image1 {
	background-position: -10px 0px;
}
.imageLayout span.image2 {
	background-position: -20px 0px;
}
.imageLayout span.image3 {
	background-position: -30px 0px;
}
.imageLayout span.image4 {
	background-position: -40px 0px;
}
.imageLayout span.image5 {
	background-position: -50px 0px;
}
.imageLayout span.image6 {
	background-position: -60px 0px;
}
.imageLayout span.image7 {
	background-position: -70px 0px;
}
.imageLayout span.image8 {
	background-position: -80px 0px;
}
.imageLayout span.image9 {
	background-position: -90px 0px;
}
.imageLayout span.imageDay {
	background-position: -100px 0px;
}
.imageLayout span.imageSep {
	background-position: -110px 0px;
}
.imageLayout span.imageSpace {
	background-position: -120px 0px;
}